.overlay-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.spinner-message {
    margin-top: 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    border-right: none; // Cursor de escritura
    animation: blinkCursor 0.8s infinite;
}

@keyframes blinkCursor {
    50% { border-color: transparent; }
}
